.categories{
    font-family: 'Arial' !important;
    font-size: 1.1em !important;
    width: 90% !important;
    margin: 60px auto !important;
}

.c-i > p{
    color: rgb(24, 24, 24) !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
}

.c-i{
    margin: 20px 40px !important;
    width: fit-content !important;
}

.category-item{
    display: flex !important;
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center !important;
}

.c-i:hover{
    transform: scale(1.1) !important;
}

@media(max-width: 845px){
    .c-image{
        display: none !important;
    }

    .c-i{
        border: 1px solid grey !important;
        border-radius: 50px !important;
        padding: 5px 20px !important;
    }

    .category-item{
        justify-content: flex-start !important;
    }
}